Flow1.json
[{"id":"d669960a.ef0b98","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4c284e4a.96d55","type":"rpi-gpio out","z":"d669960a.ef0b98","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":570,"y":420,"wires":[]},{"id":"aa7e5dad.63f33","type":"rpi-gpio in","z":"d669960a.ef0b98","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":70,"y":300,"wires":[["24cf24e.27631dc","c897be45.85d61"]]},{"id":"24cf24e.27631dc","type":"debug","z":"d669960a.ef0b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":280,"wires":[]},{"id":"c897be45.85d61","type":"switch","z":"d669960a.ef0b98","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":380,"wires":[["605de851.ad4178"],["cf938a1f.3ef4f8"]]},{"id":"605de851.ad4178","type":"change","z":"d669960a.ef0b98","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":360,"wires":[["4c284e4a.96d55"]]},{"id":"cf938a1f.3ef4f8","type":"change","z":"d669960a.ef0b98","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":420,"wires":[["4c284e4a.96d55"]]}]