Flow3.json
[{"id":"d088b017.ba33b","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"f011b009.ca51b","type":"inject","z":"d088b017.ba33b","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":220,"wires":[["7bf07b3b.6422c4"]]},{"id":"7bf07b3b.6422c4","type":"function","z":"d088b017.ba33b","name":"payload","func":"msg.headers={\n    deviceKey: \"0PKeMevWZ02Z1PpN\"\n    };\n    \nmsg.payload= \"Temperature,,50\";    \nreturn msg;","outputs":1,"noerr":0,"x":160,"y":360,"wires":[["81be15f7.4fc698"]]},{"id":"81be15f7.4fc698","type":"http request","z":"d088b017.ba33b","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DK8Td3BQ/datapoints.csv","tls":"","proxy":"","authType":"","x":320,"y":440,"wires":[["7d2080ab.201fb","ca20df05.2406f"]]},{"id":"7d2080ab.201fb","type":"http response","z":"d088b017.ba33b","name":"","statusCode":"","headers":{},"x":360,"y":560,"wires":[]},{"id":"ca20df05.2406f","type":"debug","z":"d088b017.ba33b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":660,"wires":[]}]