Flow2.json
[{"id":"e275d1d9.45eac","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"982e1a5f.084b48","type":"inject","z":"e275d1d9.45eac","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":280,"wires":[["112969d1.5a3c66"]]},{"id":"112969d1.5a3c66","type":"function","z":"e275d1d9.45eac","name":"Payload","func":"msg.headers={\n    deviceKey:\"0PKeMevWZ02Z1PpN\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["af162df7.b9aa3"]]},{"id":"af162df7.b9aa3","type":"http request","z":"e275d1d9.45eac","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DK8Td3BQ/datachannels/LEDControl/datapoints.csv","tls":"","proxy":"","authType":"","x":430,"y":280,"wires":[["688103dd.7ac25c","20311730.ffd2b8"]]},{"id":"688103dd.7ac25c","type":"http response","z":"e275d1d9.45eac","name":"","statusCode":"","headers":{},"x":670,"y":260,"wires":[]},{"id":"20311730.ffd2b8","type":"debug","z":"e275d1d9.45eac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":380,"wires":[]}]